<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <title>{% block title %}
         {% endblock %}
      </title>
      <!--------------------------------------------------------------------------------------------------->     
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
         // JavaScript functions (latcoordtokm and loncoordtokm) go here
         var xlon = 0;
         var ylat = 0;
         
         function latcoordtokm(value) {
             ylat = value * 111.321;
             document.getElementById('latkm').innerText = 'Step value of ' + ylat.toFixed(1) + ' km';
         
             var x = document.getElementById('lon').value;
             if (x !== '') {
                 document.getElementById('m2km').innerText = 'Resolution of ' + (xlon * ylat).toFixed(1) + ' km²';
             }
         }
         
         function loncoordtokm(value) {
             xlon = value * 111.321;
             document.getElementById('lonkm').innerText = 'Step value of ' + xlon.toFixed(1) + ' km';
         
             var y = document.getElementById('lat').value;
             if (y !== '') {
                 document.getElementById('m2km').innerText = 'Resolution of ' + (xlon * ylat).toFixed(1) + ' km²';
             }
         }
         
          
          
          
          var hiddenIds = [
              'temperature', 'humidity', 'precip', 'precipprob',
              'precipcover', 'snow', 'snowdepth', 'windspeed',
              'cloudcover', 'solarenergy', 'uvindex'];
          var shownIds = [];
          
          function showHideInputs() {
              var selectedWeatherType = document.getElementById('weatherType').value;
          
              var index = hiddenIds.indexOf(selectedWeatherType);
              if (index !== -1) {
                  hiddenIds.splice(index, 1);
                  shownIds.push(selectedWeatherType);
              }
          
              var dropdown = document.getElementById('weatherType');
              var selectedOption = dropdown.querySelector('option[value="' + selectedWeatherType + '"]');
              if (selectedOption) {
                  dropdown.removeChild(selectedOption);
              }
          
              for (var i = 0; i < hiddenIds.length; i++) {
                  var element = document.getElementById(hiddenIds[i]);
                  if (element) {
                      element.classList.add('hidden');
                  }
              }
          
              var mode = "{{ mode }}";
          
              if (selectedWeatherType !== '') {
                  var selectedElement = document.getElementById(selectedWeatherType);
                  if (selectedElement) {
                      if (mode == 'unsupervised'){
                          var inputId = selectedWeatherType + 'id';
                          var input = document.getElementById(inputId);
                          input.value = '1';
                          console.log(mode)
                          console.log(inputId)
                          console.log(input.value)
                          
                          // Create a list element
                          var listItem = document.createElement('li');
                          listItem.textContent = selectedWeatherType + ' has been selected';
              
                          var listContainer = document.getElementById('selectedWeatherList');
                          listContainer.appendChild(listItem);
                          console.log(listContainer)        
                          var clearButton = document.getElementById("clearButton");
                          clearButton.style.display = "block"; // Show the clear button
                                  
                                  
                          
                          
                      }
                      if (mode == 'supervised'){
                       selectedElement.classList.remove('hidden');
                      }   
                  }
              }
          
              document.getElementById('weatherType').value = "";
          }
          
         
          
          
          function hideShowInputs(inputId) {
              var element = document.getElementById(inputId);
              if (element) {
                  element.classList.add('hidden');
          
                  var dropdown = document.getElementById('weatherType');
                  var option = document.createElement('option');
                  option.value = inputId;
                  option.text = inputId.charAt(0).toUpperCase() + inputId.slice(1);
                  dropdown.add(option);
              }
          }
          
          
         
         var selectedValues = [];
          
         function updateArray(value) {
         if (!selectedValues.includes(value)) {
             selectedValues.push(value);
             updateSelectedValues();
             var hiddenInput = document.getElementById('hiddeninput');
             
             // Check if there is only one value in the array
             if (selectedValues.length === 1) {
                 hiddenInput.value = value;
             } else {
                 var valueToAdd = value;
                  
                 // Check if the value is not empty before appending a comma
                 if (hiddenInput.value.trim() !== '') {
                     valueToAdd = ',' + value; 
                 }
                 hiddenInput.value += valueToAdd;
             }
         }
         }
          
          
          
          function resetContainer() {
              selectedValues = [];
              updateSelectedValues();
              document.getElementById('hiddeninput').value = '';
          }
          
          function updateSelectedValues() {
              $('#selectedValuesContent').html('Selected Values: ' + selectedValues.join(', '));
          }
          
          $('#selectedValuesContent').on('contextmenu', 'p', function (e) {
              e.preventDefault();
              var valueToRemove = $(this).text().replace('Selected Values: ', '');
              resetContainer(valueToRemove);
          });
         
         
         function clearListAndInputs() {
         // Clear the list
         var weatherList = document.getElementById("selectedWeatherList");
         console.log(weatherList)
         while (weatherList.firstChild) {
             weatherList.removeChild(weatherList.firstChild);
         }
         console.log('after')
         console.log(weatherList)
         
         // Reset input values to null
         var inputs = document.querySelectorAll("#dynamicForm input");
         inputs.forEach(function(input) {
             input.value = "";
             
         });
         console.log('green flag')
         
         // Hide the clear button
         var clearButton = document.getElementById("clearButton");
         clearButton.style.display = "none";
         console.log('the list should be empty now')
         
         
         // Restore options in the dropdown menu
         var dropdown = document.getElementById('weatherType');
         dropdown.innerHTML = ""; // Remove all options
         
         // Re-add the default option
         var defaultOption = document.createElement('option');
         defaultOption.value = "";
         defaultOption.disabled = true;
         defaultOption.selected = true;
         defaultOption.textContent = "Select an Attribute";
         dropdown.appendChild(defaultOption);
         
         // Re-add the other options
         var options = [
             "temperature",
             "temperaturemin",
             "temperaturemax",
             "humidity",
             "precip",
             "precipprob",
             "precipcover",
             "snowdepth",
             "windspeed",
             "cloudcover",
             "solarenergy",
             "uvindex"
         ];
         
         options.forEach(function(optionValue) {
             var option = document.createElement('option');
             option.value = optionValue;
             option.textContent = optionValue.charAt(0).toUpperCase() + optionValue.slice(1);
             dropdown.appendChild(option);
         });
         
         document.getElementById("weatherAttributeForm").style.marginBottom = '4.25%';
         }
         
          
      </script>     
      <!--------------------------------------------------------------------------------------------------->     
   </head>
   <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <a class="navbar-brand" href="#">{% block label %}  {% endblock %}</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/supervised">supervised learning<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="/unsupervised">unsupervised learning<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="/adddata">collect data<span class="sr-only">(current)</span></a>
               </li>
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="#">Welcome {{ current_user.username }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('logout_page')}}">Logout</a>
               </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="login">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="start">Register</a>
               </li>
            </ul>
            {% endif %}
         </div>
      </nav>
      {% block content %}
      {% endblock %}    
      <!-- Future Content here -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <div class="border border1">
         <div class="border-content">
            {% block content1 %}
            {% endblock %} 
         </div>
      </div>
      <div class="border border2">
         <div class="border-content">
            {% block content2 %}
            {% endblock %} 
         </div>
      </div>
      <div class="border border3">
         <div class="border-content">
            {% block content3 %}
            {% endblock %}
         </div>
      </div>
      <div class="border border4">
         <div class="border-content">
            {% block content4 %}
            {% endblock %} 
         </div>
      </div>
   </body>
   <style>
      body {
      background-color: #212121;
      }
      .border {
      border: 2px solid;
      box-sizing: border-box;
      text-align: center;
      background-color: #f0f0f0; /* Adjust background color */
      overflow: hidden; /* Ensure content doesn't overflow the border */
      position: absolute; /* Allow borders to overlap */
      }
      .border1,
      .border2,
      .border3,
      .border4 {
      padding: 5px;
      }
      .border1 {
      width: 73%;
      height: 73%;
      margin-top: 5px;
      margin-left: 10px;
      }
      .border2 {
      width: 25%;
      height: 90%;
      margin-top: 5px;
      margin-left: 74%;
      }
      .border3 {
      width: 63%;
      height: 12%;
      margin-top: 36%;
      margin-left: 10px;
      }
      .border4 {
      width: 148px;
      height: 8%;
      margin-top: 36%;
      margin-left: 64%;
      }
      .border-content {
      /* transform: rotate(10deg);  Rotate the content within the border */
      }
   </style>
</html>